body {
    background-image: url("../images/hypnotize.png");
    background-repeat: repeat-x repeat-y;
}

a {
    color:black;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.banner {
    padding:0px 11% 20px 11%;
    margin-left:-10px;
    margin-top:-30px;
    margin-bottom:40px;
    width:100%;
    position: relative;
    background-color:#ffffff;
}

    .title-box {
        padding:20px;
        width:20%;
        height: 100px;
        position: relative;
        top:20px;
        bottom:0px;
        background-color:#4aaaa5;
        color:#ffffff;
        text-align: center;
        line-height:100px;
        font-size:35px;
    }

    .internal-links {
        padding:20px;
        width:33.3%;
        position: absolute;
        top:55px;
        right:170px;
    }

.content {
    height:300px;
    padding:20px;
    margin-left:10%;
    margin-right:10%;
    max-width:960px;
    background-color:#ffffff;
}

    h2 {
        font-size: 30px;
    }

    .project {
        padding: 20px 10px 20px 10px;
        float: left;
    }

    #headshot {
        width:100px;
        height:100px;
        padding: 20px;
        float:left;
    }